CRIS_UVERENJA_ZA_IZVRSITELJE/wsdl/PregledZahteva.wsdl

<wsdl:definitions targetNamespace="http://cr.services/xsd" name="PregledZahteva" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cr.services/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://cr.services/xsd">
            <xsd:include schemaLocation="../../CRIS_DATATYPES/xsd/Request1.xsd"/>
            <xsd:include schemaLocation="../../CRIS_DATATYPES/xsd/Response1.xsd"/>
            <xsd:element name="Request" type="tns:PregledZahtevaRequest"/>
            <xsd:element name="Response" type="tns:PregledZahtevaResponse"/>
        </xsd:schema>
    </wsdl:types>	

    <wsdl:message name="args_in_msg">
        <wsdl:part name="parameters" element="tns:Request"/>
    </wsdl:message>
    <wsdl:message name="args_out_msg">
        <wsdl:part name="data" element="tns:Response"/>
    </wsdl:message>
    <wsdl:portType name="PregledZahteva_ptt">
        <wsdl:operation name="PregledZahteva">
            <wsdl:input message="tns:args_in_msg"/>
            <wsdl:output message="tns:args_out_msg"/>
        </wsdl:operation>
    </wsdl:portType>

  <wsdl:binding name="PregledZahtevaSOAP" type="tns:PregledZahteva_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PregledZahteva">
      <soap:operation soapAction="PregledZahteva"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

<wsdl:service name="PregledZahtevaService">
<wsdl:port name="PregledZahtevaSOAP" binding="tns:PregledZahtevaSOAP">
	<soap:address location="https://clesb.cris:8012/CRIS_IZVRSITELJI/proxy/PregledZahteva"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>